
<html>
  <head>
    <title>REGISTER</title> 
    <link rel="stylesheet" href="/css/login.css"> 
  </head>
  <body>
    <div class="login-page">
      <div class="form">
          <h1>Registrarse</h1>
        <form method="post" action="/register" class="register-form">
          <input type="text" id="full_name" name="full_name"  required placeholder="Nombre Completo"/>
          <input type="text" id="username" name="username" required  placeholder="Nombre de Usuario"/>
          <input type="text" id="email" name="email" required  placeholder="Correo Electrónico"/>
          <input type="password" id="password" name="password" required placeholder="Contraseña"/>
          <button>create</button>
          <p class="message">¿Ya estás registrado? Prueba <a href="login">INGRESAR</a></p>
        </form>
      </div>
    </div> 
  </body>
</html>

