.sidebar 
{
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -200px;
    background-image: linear-gradient(195deg, #02538a 10%, #8ad0ff 90%);
    transition: left 0.9s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar.show
{
    left: 0;
}


.show .menu_toggle_icon 
{ 
  transform: rotate(180deg);
  transition: transform 0.9s ease;
}

.show .menu-item
{
    background-color: #f48120;
    visibility: visible;
}

.show .title-item
{
    visibility: visible;
}

.sidebar-content 
{
    width: 90%;
    padding: 20px 0;
    color: white;
    
}

.title-item 
{
    padding: 10px 0;
    text-align: center;
    position: relative;
    visibility: hidden;
}

.menu-item 
{
    padding: 4% 0;
    font-size: 24px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    visibility: hidden;
    width: 100%;
    margin-bottom: 15px;
    color: white;
    text-decoration: none; 
}

.menu-item:hover 
{
  background-color: #003855;
  box-shadow: 0 5px #f48120;
  transition: background-color 0.6s, box-shadow 0.3s, transform 0.3s;
}

.menu-item:active 
{
  transform: translateY(5px); /* Adjust the value as needed for the desired effect */
  box-shadow: none; /* Remove the shadow on button press */
  transition: transform 0.1s; /* Adjust the duration for the button press animation */
}

.menu-toggle-container 
{
    position: absolute;
    top: 10px;
    right: 10px; 
}

.menu_toggle_icon 
{
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url('/images/right-arrow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    filter: invert(100%);
    transition: transform 0.9s ease;
}

.menu-option-icon
{
    width: 30px; 
    height: 30px; 
    padding: 3%;
    background-color: transparent;
    top: 20%;
    filter: invert(100%);
}




.logout-button 
{
  width: 100%; 
  text-align: center; 
  display: flex;
  align-items: space-around;
}

.logout-button button 
{
  background-color: transparent; 
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  color: white;
  display: flex; 
  align-items: center; 
}

.logout-button img 
{
  width: 30px;
  height: 30px;
  padding: 3%;
  background-color: transparent;
  filter: invert(100%);
  margin-right: 10px; 
}
/**/
 /* __  __          _____ _   _             _____ ____  _   _ _______ ______ _   _ _______  */
 /* |  \/  |   /\   |_   _| \ | |           / ____/ __ \| \ | |__   __|  ____| \ | |__   __| */
 /* | \  / |  /  \    | | |  \| |          | |   | |  | |  \| |  | |  | |__  |  \| |  | |    */
 /* | |\/| | / /\ \   | | | . ` |          | |   | |  | | . ` |  | |  |  __| | . ` |  | |    */
 /* | |  | |/ ____ \ _| |_| |\  |          | |___| |__| | |\  |  | |  | |____| |\  |  | |    */
 /* |_|  |_/_/    \_\_____|_| \_|           \_____\____/|_| \_|  |_|  |______|_| \_|  |_|    */
 /*                                ______                                                    */
 /*                               |______|                                                   */
 /**/

.main-content 
{
    margin-left: 5%;
    transition: margin-left 0.9s ease-in-out;
    color: #005289;
}

.sidebar.show + .main-content
{
  margin-left: calc(250px + 5%);
}

.main-content img
{
  padding: 1%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  transition: 0.9s ;
}

.main-content img:hover,
.main-content img:focus 
{
  background-color: #69b2e2;
  box-shadow: 0 5px black;
  border-radius: 20px;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.main-content img:active 
{
  transform: translateY(5px); /* Adjust the value as needed for the desired effect */
  box-shadow: none; /* Remove the shadow on button press */
  transition: transform 0.1s; /* Adjust the duration for the button press animation */
}
