.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -200px;
    background-color: #4CAF50;
    transition: left 0.9s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar.show
{
    left: 0;
}

.sidebar.show + .main-content
{
  margin-left: 250px;
}

.show .menu_toggle_icon 
{ 
  transform: rotate(180deg);
  transition: transform 0.9s ease;
}

.show .menu-item
{
    background-color: #4CAF50;
}


/* Sidebar content styles */
.sidebar-content 
{
    width: 100%;
    border: 2px solid red; 
    padding: 20px 0;
    color: white;
    
}

/* Menu item styles */
.title-item 
{
    padding: 10px 0;
    text-align: center;
    position: relative;
}
.menu-item 
{
    padding: 4% 0;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-item:hover 
{
    background-color: #9ef79e;
    color: #585958;
}

.main-content 
{
    margin-left: 60px;
    transition: margin-left 0.9s ease-in-out;
}

/* Responsive styles */
@media screen and (max-width: 768px) 
{
    /* Adjust the sidebar width for smaller screens */
    .sidebar 
    {
        width: 200px;
    }

    /* Adjust the main content margin for smaller screens */
    .main-content 
    {
        margin-left: 200px;
    }

    /* Adjust the position of the icon for smaller screens */
    .menu-item::before 
    {
        left: -20px; /* Adjust the position as needed */
    }
}

@media screen and (max-width: 576px) 
{
    /* Further adjustments for even smaller screens */
    .sidebar 
    {
        width: 150px;
    }

    .main-content 
    {
        margin-left: 150px;
    }


    .menu-item::before 
    {
        left: -10px; 
    }
}



.menu-toggle-container 
{
    position: absolute;
    top: 10px; /* Adjust the distance from the top as needed */
    right: 10px; /* Adjust the distance from the right as needed */
}

.menu_toggle_icon {
    width: 30px;
    height: 50px;
    background-color: #b350af;
    background-image: url('/images/right-arrow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    filter: invert(100%);
    transition: transform 0.9s ease;
}

.menu-option-icon
{
    width: 30px; 
    height: 30px; 
    padding: 3%;
    background-color: #b350af;
    top: 20%;
    filter: invert(100%);
}


