<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <title>Simple Sidebar Menu</title>
</head>
<body>
    <div class="sidebar" id="mySidebar">
        <div class="sidebar-content">
            <h2 class="title-item">Menu</h2>
            <div class="menu-item">Perfíl</div>
            <div class="menu-item">Salas</div>
            <div class="menu-item">Ponencias</div>
        </div>
    </div>

    <div class="main-content">
        <h1>Main Content</h1>
        <p>This is the main content area of your webpage.</p>
    </div>

    <script src="/js/toggle.js"></script>
</body>
</html>

